:root {
  --primary-color: #003e71;
  --secondary-color: whitesmoke;
}

* {
  margin: 0;
  padding: 0;
}

body {
  background-color: var(--primary-color);
  overflow-x: hidden;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 95vh;
  width: 100vw;
  padding-top: 5vh;
}

.container h1 {
  color: var(--secondary-color);
  font-size: 3rem;
}

.container .section a,
.container .menu a {
  color: var(--primary-color);
  text-decoration: none;
  font-size: 1.25rem;
  background-color: var(--secondary-color);
  padding: 0.1rem 1rem 0.1rem 1rem;
  font-weight: bold;
}

.container .section {
  height: 5vh;
  display: flex;
  align-items: center;
}

form {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-sizing: border-box;
  flex-wrap: wrap;
}

form label {
  color: var(--secondary-color);
  font-size: 1.25rem;
  margin-top: 1rem;
}

form input {
  border: none;
  padding: 0.5rem;
  outline: none;
  font-size: 1rem;
  border-radius: 0.1rem;
}

form button {
  padding: 0.5rem;
  width: 50%;
  background-color: var(--secondary-color);
  border: none;
  border-radius: 0.1rem;
  margin: 5% 0 0 25%;
  color: var(--primary-color);
  font-size: 1.25rem;
  font-weight: bold;
}

form button:hover {
  cursor: pointer;
  filter: contrast(200%);
}

form textarea {
  height: 25vh;
}

.notify input {
  padding: 0.25rem;
}

.alert {
  border: none;
  border-radius: 0;
  background-color: whitesmoke;
}

.alert.error {
  color: red;
}

.alert.success {
  color: green;
}
